.app {
  text-align: center;
}

.button-space {
  margin: 5px;
}

.align-left {
  float: left;
  width: 50%;
}

.align-right {
  float: right;
  width: 50%;
}

.image-modal {
  height: 40%;
  width: 40%;
}
